{% extends 'base.html.twig' %}

{% block title %}Cooperative index{% endblock %}

{% block body %}
    <h1>Cooperative index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cooperative in cooperatives %}
            <tr>
                <td>{{ cooperative.id }}</td>
                <td>{{ cooperative.nom }}</td>
                <td>{{ cooperative.telephone }}</td>
                <td>
                    <a href="{{ path('app_cooperative_show', {'id': cooperative.id}) }}">show</a>
                    <a href="{{ path('app_cooperative_edit', {'id': cooperative.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cooperative_new') }}">Create new</a>
{% endblock %}
